/* asterisk selector to apply styles to all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic body styles */
    color: #3a3a3a;
}

/* header */
header {
    background-color: lightblue;
}
/* main content */
main {
    background-color: red;
    /* Make main take up any surplus space space */
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: orange;
}
