/* asterisk selector to apply styles to all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-color: lightblue;
}
/* main content */
main {
    background-color: red;
}

/* footer */
footer {
    background-color: orange;
}
